html{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Debut code css new header */
header{
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-left : 80px;
  
}

.topnav {
  display: none;
}

.qt{
  height: 50px;
  width: auto;
  justify-content: space-between;
  display: flex;
  margin-top: 55px;
}

.tarantino{
margin-top: 60px;
height: 40px;
width: auto;
}

.logo{
display: flex;
width: 150px;
height: 150px;
justify-content: center;
margin-top: 10px;
}

nav{
  color: whitesmoke;
  font-size: 20px;
  background-color: #99333391;
}

nav .menu{
display: flex;
list-style: none;
flex-direction: row; 
max-width: 100%;
align-items: center;
}

nav #menu{
  display: flex;
  margin-left: 30px;
}

nav .icone{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav .rs{
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  } 
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

a[class*="fontawesome-"]:before,
span[class*="fontawesome-"]:before {
	display: block;
	
	-webkit-font-smoothing: antialiased;
}

/* ---------- GENERAL ---------- */

body {
	background: #ccc;
	font: 'Impact', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
  color: white;
}
a:hover{
  color: #993333;
  opacity: 0,5;
}

button {
    -webkit-appearance: button;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ---------- CLASSES ---------- */

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after { clear: both; }



/* ---------- TOOLBAR ---------- */

.toolbar {
	color: #fff;
}

.toolbar li {
	float: left;
}

.toolbar a,
.toolbar input[type="search"],
.toolbar button {
	background: #99333320;
	color: #fff;
	display: block;
	padding: 17px;
	position: relative;
}

.toolbar a:hover,
.toolbar input[type="search"]:hover,
.toolbar input[type="search"]:focus,
.toolbar button:hover {
  background-color: #993333;
  opacity: 0.5;
}

.toolbar input[type="search"] {
	display: none;
	height: 25px;
	width: 177px;
}

.toolbar input[type="search"]::-webkit-input-placeholder { color: #fff; }
.toolbar input[type="search"]::-moz-placeholder { color: #fff; opacity: 1; }
.toolbar input[type="search"]:-moz-placeholder { color: #fff; opacity: 1; }
.toolbar input[type="search"]:-ms-input-placeholder { color: #fff; }

/* Fin code css new header */

footer{
  
  color: whitesmoke;
  font-size: 14px;
}

footer ul{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

footer .icone{
display: flex;
justify-content: center;
flex-direction: row;
list-style: none;
}

.footer{
  background-color: #99333391;
}

footer li{
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .rs{
width: 30px;
height: 30px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

footer .rs2{
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-right: -12px;
  }

/* CSS HOME PAGE */

.ban{
  display: flex;
  background-color: black;
}

.ban_right_side{
  margin:auto;
}

#quote{
    color: #993333;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
    margin : auto;
}

.purpose{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purpose h2{
  color: #993333;
  text-align: center;
  font-size: 50px;
}

.categories{
  width: 40%;
  font-size: xx-large;
  border-bottom: #993333 5px solid;
  text-align: center;
  padding-bottom: 10px;
}

.content{
  display: flex;
  flex-direction: column;
}

.actu{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://pngimage.net/wp-content/uploads/2018/06/tarantino-png-1.png);
    
}

.actu_detail{
    background-color: rgba(249, 245, 245, 0.548);
    width: 38%;
    margin: 20px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.actu_header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    overflow: auto;

}

.actu_detail:hover{
    transition: all .7s ease;
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    
}

.actu_date{
    color: black;
    opacity: 0.5;
    height: 100%;
}

.actu_description{
    text-align: justify;
    padding: 10px 40px 10px 40px;
}

.actu_description p{
    font-family: Arial, Helvetica, sans-serif;
}

.actu_foot{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.actu_button{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 50%;
    border-radius: 5px;
}

.actu_button img{
    width: 35px;
    height: 35px;
}

.actu_button:hover{
    background-color: #99333391;
}

.actu_button a{
    text-decoration: none;
    color: black;
    font-size: large;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}


.icones_bar{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.icones_bar a{
  text-decoration: none;
}

.thematique{
  width: 30%;
  text-align: center;
}

.thematique:hover{
  opacity: 0.5;
  cursor: grab;
}

.thematique h3{
  background-color: black;
  color: white;
  margin: 0;
  font-size: xx-large;
}

.icone_thematique{
  max-height: 205px;
  width: 100%;
}


.newsletter {
  background-color: black; 
  color : white;
  display: flex;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.punchline{
  width: 40%;
}

.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  justify-content: center;
}

#email {
  width: 45%;
  text-align: center;
  height: 20px;
  margin-bottom: 10px;
}

#submit {
  margin: 0% 20% 0% 20%;
  width: 30%;
  background-color: #993333;
  height: 40px;
  font-weight: 900;
  font-size: larger;
  border: none;
}

#submit:hover{
  color: white;
  cursor: grab;
}

/* CSS BLOOD EFFECT */

.drop {
  position: relative;
	width: 20px;
	height: 20px;
  top: 10px;
  margin-left: 339px;
	background: #993333;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid #993333;
  top: -22px;
}




@keyframes ripple {
    from {
      opacity: 1;
    }
    to {
      width: 600px;
      height: 300px;
      border-width: 1px;
      top: -100px;
      opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

/* Distance totale parcourue par la goutte de sang (sur la hauteur de l'écran) */

@keyframes drip {
    to {
      top: 800px;
    }
}


/* CSS FOR MOBILE AND TABLETS */

@media screen and (max-width : 900px) {
/* Debut code css new header mobile */
  .desktop{
  max-width: 100%;
  display: none;
}

.logo{
  width: 50px;
  height: 50px;
  margin-top: 1px;
  }
  
  .qt{
    height: 18px;
    width: auto;
    margin-top: 18px;
    margin-left: 5px;
  }
  
  .tarantino{
  height: 16px;
  width: auto;
  margin-top: 19px;
  margin-left: 5px;
  }

  .icone{
    display: flex;
    flex-direction: row;
    list-style: none;
    
  }
  
  .rs{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    list-style: none;
    }
  
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #ccc;
    position: relative;
    display: flex;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    margin-left: -250px;
    margin-top: 60px;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 17px 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #993333;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  footer ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    align-items: center;
  }
audio{
  display: flex;
  justify-content: center;
}
body {
  width: auto;
}
/* Fin code css new header mobile */
img{
  display: none;
}


.ban_right_side{
  height: 180px;
  padding: 30px 10px 30px 10px;
}

#quote{
  width: 100%;
}

.purpose h2{
  font-size: 35px;
}

.categories{
  width: 100%;
  border: none;
}

.actu{
  width: auto;
  background: none;
}
.actu_detail{
  width: auto;
  height: auto;
}

.actu_foot{
  margin-bottom: 10px;
}
.actu_button{
  height: auto;
}

.icones_bar{
  display: flex;
  flex-direction: column;
}

.icones_bar img{
  display: initial;
  width: 100%;
}

.thematique{
  width: 100%;
  text-align: center;
}

.icone_thematique{
  max-height: 240px;
}

.newsletter{
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  margin-bottom: 0px;
}

.punchline{
  width: 100%;
}

.register{
  width: 100%;
}

#submit{
  width: 35%;
}

#submit:hover{
  color : white;
}

#email {
  width: 70%;
  text-align: center;
  height: 20px;
  margin-bottom: 10px;
}

/* CSS BLOOD EFFECT */

.drop {
  position: relative;
	width: 20px;
	height: 20px;
  top: 10px;
  margin: 0 auto;
	background: #993333;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid #993333;
  top: -22px;
}

@keyframes ripple {
    from {
      opacity: 1;
    }
    to {
      width: 600px;
      height: 300px;
      border-width: 1px;
      top: -100px;
      opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

/* Distance totale parcourue par la goutte de sang (sur la hauteur de l'écran) */
@keyframes drip {
    to {
      top: 4000px;
    }
}


}