/* CSS galerie */
#carouselExampleIndicators {
    height:auto;


}

/* code commun CSS */
html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  header{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-left : 80px;
    
  }.qt{
    height: 50px;
    width: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 55px;
  }
  
  .tarantino{
  margin-top: 60px;
  height: 40px;
  width: auto;
  }
  
  .logo{
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  margin-top: 10px;}


  
  nav{
    line-height: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    background-color: #99333391;
    display: flex;
    justify-content: space-between;
  }

  
  nav .menu{
  display: flex;
  list-style: none;
  flex-direction: row; 
  max-width: 100%;
  align-items: center;
  }
  
  nav #menu{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  nav .icone{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
  }

  
  nav .rs{
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  }


  .liens {
    color: white;
    text-decoration: none;
  }
  .liens a:hover{
    color: white;
    text-decoration: none;
  }
  
  
  footer{
    
    color: whitesmoke;
    font-size: 14px;
  }
  
  footer ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    align-items: center;
  }
  
  footer .icone{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  }
  
  .footer{
    background-color: #99333391;
  }
  
  footer li{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  footer .rs{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  
  footer .rs2{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-right: -12px;
    }